#########
[DEFAULT]
#########

WELLS_NUM           = 8

PUMP_NUM            = 1
PUMP_STEPS_REV      = 200
PUMP_MICROS         = 8
PUMP_CURR           = 4
PUMP_VOL_REV        = 100
PUMP_FLOW_RATE_WELL = 500


####
[PC]
####

PUMP_MODE           = SERIAL
PUMP_PORT           = /dev/ttyUSB0
PUMP_BAUD           = 19200



####
[PI]
####

BUS                 = 
ADDRESS             = 
PUMP_MODE           = I2C

